## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Visual Studio
.vs/
*.VC.db
*.VC.opendb

## VS Code
.vscode/

## Publish
publish/

## Database
*.db
*.db-shm
*.db-wal

## OS
.DS_Store
Thumbs.db
